*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #3b393d;
	background: #3B393D;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

body.body--hidden {
	overflow: hidden;
}

body.body--hidden .header,
body.body--hidden .content--related {
	opacity: 0;
}

.header,
.content--related {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

a {
	text-decoration: none;
	color: #de6551;
	outline: none;
}

a:hover,
a:focus {
	color: #3b393d;
}

.folio {
	background: #3B393D;
}

.folio a {
	color: #3B393D;
}
.folio a:hover{
	color: #6A5F75;
}

.folio .header h1 span {
	color: #4f4c4c;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Header */

.header {
	padding: 2em 1em;
	text-align: center;
}

.header h1 {
	font-size: 3em;
	font-weight: 400;
	line-height: 1.2;
	margin: .5em 0 0;
}

.header h1 span {
	font-size: .45em;
	display: block;
	padding: .5em 0 1em;
	color: #999;
}

/* Social links */

.social {
	margin: 0 0;
}

.social a {
	display: inline-block;
	margin: 0 .2em;
}

/* Content */

.content {
	padding: 1em 0 4em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.media-item__img {
	max-width: 100%;
	opacity: .3;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: .5em;
}

/* cards wrapper and close btn */

.wrapper {
	overflow: auto;
	width: 95%;
	max-width: 1366px;
	margin: 0 auto;
}

@media screen and (max-width: 50em) {
	.header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.header h1 {
		font-size: 2.4em;
		line-height: 1.2;
	}
}
